@charset "UTF-8"
/* id em html = # em css | so pode um elementos
class em html = . em css | pode varios elementos*/
body{
    background-color: darkcyan;
    font-family: sans-serif;
   }

   h1{
    color: darkolivegreen;
   }

   h1#principal{
    text-align: center;
    color: black;
   }

   h2{
    color: darkred;
   }
   .basico{ color: green;

   }
   .intermediario{ color: blue;

   }
   .avancado{ color: red;

   }
   .destaque{
    background-color: crimson;
   }