@charset "UTF-8"

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to right,#F2E8DC, #F2C8A2, #A67563);
}
main{
    border-radius: 30px;
    background-color: white;
    width: 600px;
    padding: 30px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(111, 106, 106, 0.388);
}

h1{
    text-align: center;
    color: red;
    text-shadow: 2px 2px 2px rgba(165, 42, 42, 0.221);
}

h2{
    color: #642212;
}
p{
    text-align: justify;
}